HEALTH_PROBE_BIND_ADDRESS=:8081
REGISTRY_HOST=kind-registry:5000
INGRESS_CLASS=nginx
BASE_DOMAIN=maxicloud.maximum.vc
GITHUB_PRIVATE_KEY_PATH=/etc/maxicloud/github/private-key.pem
ADDR=:8080

# 作成したGitHub Appの情報を入れる
GITHUB_APP_ID=
GITHUB_APP_NAME=
GITHUB_CLIENT_ID=
